body h3{
    margin-bottom: 15px;
}
.main{
    height: 88.5%;
}
.enlace_5{
    background-color: var(--color-8);
}
.logo{
    width: 50%;
}
.container-todito{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100%;
    justify-content: space-evenly;
}
.container-border{
    border: 2px solid var(--color-6);
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    height: 49%;
    background-color: var(--color-10);
    overflow: hidden;
    overflow-y: scroll;
}
.container-border::-webkit-scrollbar{
    width: 10px;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--color-9);
}
.container-border::-webkit-scrollbar-thumb{
    border-radius: 5px 15px 15px 5px;
    background-color: var(--color-7);
}
.container-nav, .container-nav nav, 
.container-nav nav ul{
    height: 94%;
}
a{
    color: black;
}
.list-div{
    border: 2px solid var(--color-6);
    border-radius:15px;
    padding: 9px 3%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: white;
    height: calc(20px + 1vw);
    font-size: calc(2px + 1vw);
}
.titulo-p{
    font-size: calc(3px + 1vw);
}
.list{
    height: calc(55px + 1vw);
    transition: .7s;
    overflow: hidden;
    margin-bottom: 15px;
}
.preguntas{
    color: black;
}
.fas fa-sort-down {
transition: .3s;
}
.scale{
    height: 135px;
}
/* .rotate{
    transform: rotate(180deg);
} */
.descripcion{
    padding: 0 3%;
    font-size: calc(1px + 1vw);
}