.main{
    height: 88.5%;
    justify-content: space-evenly;
}
.enlace_4{
    background-color: var(--color-8);
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
li, a{
    text-decoration: none;
}
.d-flex{
    display: flex;
}
.f_d_column{
    flex-direction: column;
}
.a_i_center{
    align-items: center;
}
.j_c_center{
    justify-content: center;
}
/* Code */
.container_general{
    width: 100%;
}
.info_persona_container{
    width: 13%;
    height: 115%;
    margin: 0 1%;
}
.img_container,
.nombre_persona_container,
.redes_sociales_container{
    position: relative;
}
.img_container{
    height: 33.33%;
    z-index: 3;
}
.nombre_persona_container{
    height: 40%;
    z-index: 2;
    background-color: #ddd;
}
.redes_sociales_container{
    height: 33.33%;
    margin-top: -28px;
    z-index: 1;
}
.img_container img{
    width: 60%;
    height: 150%;
    border-radius: 50%;
    margin-top: 5px;
}
.nombre_persona_container, 
.redes_sociales_container{
    border: 3px solid #aaa;
    border-radius: 15px;
}
.nombre_persona{
    width: 100%;
    align-items: flex-end;
    font-weight: bold;
    margin-bottom: 9%;
}
.lista_redes{
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
}
.enlace_redes{
    margin-bottom: 7%;
}
.icono_elace{
    color: #000;
    font-size: 15px;
}
.info_text{
    width: 70%;
    border: 2px solid #aaa;
    border-radius: 15px;
    padding: 0 30px 20px 30px;
    background-color: #ddd;
}
.info_text,
.nombre_persona, 
.icono_elace{
    font-size: calc(2px + 1vw);
}
.titulo-pagina{
    margin: 1% 0;
    text-align: center;
}
.logo{
    width: 22%;
}
.logo, .info_text, .container_general{
    margin-top: -4%;
}